{% extends "base_generic.html" %}

{% block content %}


<div class="navbar">
  <a href="#home">This Week</a>
  <a href="#home">Next Week</a>
  <div class="dropdown">
  <button class="dropbtn" onclick="myFunction()">Options
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  </div> 
</div>

<a href="{% url 'workout-list-view' %}" >All Workouts</a>
<a href="{% url 'calendar' %}" >Calendar</a>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script>

{% endblock %}